  html,
  body {
      height: 100vh;
  }

  ul,
  ol {
      padding: 0;
      position: relative;
  }

  ul li,
  ol li {
      color: black;
      border-left: solid 8px skyblue;
      background-color: aliceblue;
      margin: 10px;
      list-style-type: none!important;
      padding: 10px 5px;
  }

  header {
      font-size: 1.5em;
      margin-bottom: 1vh;
      background-color: orange;
      color: white;

  }

  header h1 {
      padding: 5px 0;

  }

  #contents {
      height: 70vh;
      overflow: auto;
  }

  #messages_form {
      border-right: 1px solid #ddd;
      border-left: 1px solid #ddd;
      padding: 4px;
      height: 8vh;
  }

  #input_msg {
      width: calc(100% - 75px);
      line-height: 16px;
      height: 48px;
      padding: 6px;
      margin: 2px 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
      text-align: left;
      box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2) inset;
      box-sizing: border-box;

  }

  #input_btn {
      float: right;
  }

  header {
      height: 20vh;
  }

  footer {
      height: 10vh;
  }
